/* Define variables */
:root{
    --Theme: #0f172a;
    --Paragraph : #030119;
    --Brand : #FFD700; 
    --White : #ffffff; 

}

/* Reset default styles */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Google Sans Regular';
    box-sizing: border-box;
}

body{
    background: var(--White);
}

/* -------------------------------Navbar------------------------------- */
header{
    width: 100%;
    height: 80px;
    /* background: rgb(255, 202, 202); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    border-bottom: 1px solid var(--Theme);
    box-shadow: 0 1px 25px 0 rgb(113, 113, 89); 
}

.humburger{
    display: none;
}

.nav-bar ul{
    display: flex;
}

.nav-bar ul li a{
    display: block;
    color: var(--Theme);
    font-weight:550;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover{
    color: var(--Brand); 
    background: var(--Theme);
    transition: .7s;
    font-weight: 700;
    
}

.nav-bar ul li a.active{
    color: var(--Brand);
    font-weight: bolder;  
}

.Login-button{
    border: none;
    background: none;
    border: 2px solid var(--Theme);
    font-weight: bold;
    display: block;
    color: var(--Theme);
    font-weight:550;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .2s;
    margin: 0 5px;
}

.Login-button:hover{
    background: var(--Theme);
    color: var(--White);
    transition: .9s; 
}
.Signin-button{
    border: none;
    background: var(--Theme);
    border: 1px solid var(--Theme);
    font-weight: bold;
    display: block;
    color: var(--White);    
    font-weight:550;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .2s;
    margin: 0 5px;
}

.Signin-button:hover{
    background: none;
    border: 2px solid var(--Theme);
    color: var(--Theme);
    transition: .9s;
} 


@media only screen and (max-width: 1320px) {
    header{
        padding: 0 50px ;
    }
}
@media only screen and (max-width: 1100px) {
    header{
        padding: 0 30px ;
    }
}
@media only screen and (max-width: 900px) {
    .humburger{
        display: block;
        cursor: pointer;
    }
    .humburger .line{
        width: 30px;
        height: 3px;
        background: var(--Theme);
        margin: 6px 0;
    }
    .nav-bar{
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: var(--Theme);
        transition: .5s;
        overflow: hidden;
    }
    .nav-bar.active{
        height: 560px;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: .5s;
        opacity: 0;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul li a{
        margin-bottom: 12px;
        color: var(--White);
    }
    .Login-button{
        margin-top: 18px;
        margin-left: 15px;
        border: 1px solid var(--White);
        color: var(--Brand);
        padding: .8rem 2rem;
    }
    .Signin-button{
        margin-top: 18px;
        margin-left: 15px;
        border: 1px solid var(--White);
        color: var(--Brand);
        padding: .8rem 1.8rem;
    }
}
/* -------------------------------Navbar------------------------------- */

/* -------------------------------Slider------------------------------- */
.container{
    width: 100%;
    height: 100vh;
}

.slides{
    width:100% ;
    height:100% ;
}

.slides::before{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.6); */
    background: rgba(13, 2, 42, 0.6);

    z-index: 9;
}

.slides img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img_overlay{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
    text-align: center;
    z-index: 11;
    color: var(--White);
    font-weight: 600;
}

.img_overlay p{
    font-size: 2.5rem;
}

.img_overlay h2{
    font-size: 4.5rem;
    color: var(--Brand);
    letter-spacing: 5px;
}

.img_overlay h3{
    font-size: 4.5rem;
    letter-spacing: 5px;
}

.img_overlay button{
    text-decoration: none;
    background: var(--Theme);
    color: var(--White);
    font-size: x-large;
    border: none;
    padding: .8rem 2rem ;
    display: inline-block;
    margin-top: 2rem;
    border-radius: 4px ;
    transition: all 0.3s ease-in-out;
}

.img_overlay button:hover{
    background: var(--Brand);
    color: var(--Theme);
    font-weight: bolder;
}

.btn{
    /* background: rgba(0, 0, 0,0.6); */
    padding: 2rem;
    color: var(--White);
    /* border-radius: 50%; */
}
    
.btn::after{
    color: var(--White);
}

.swiper-button-next{
    margin-right: 30px;
}

.swiper-button-prev{
    margin-left: 30px;
}

@media(max-width: 900px) {
    .swiper-button-next{
        margin-right: 20px;
    }
    .swiper-button-prev{
        margin-left: 20px;
    }
    .img_overlay p{
        font-size: 2rem;
    }
    
    .img_overlay h2{
        font-size: 3.5rem;
        color: #2ecc71;
        letter-spacing: 5px;
    }
    
    .img_overlay h3{
        font-size: 2.5rem;
        letter-spacing: 5px;
    }

    .img_overlay button{
        text-decoration: none;
        background: var(--Theme);
        color: var(--White);
        font-size: x-large;
        border: none;
        padding: .8rem 2rem ;
        display: inline-block;
        margin-top: 2rem;
        border-radius: 4px ;
        transition: all 0.3s ease-in-out;
    }
}

@media(max-width: 768px){
    .swiper-button-next{
        margin-right: 10px;
    }
    .swiper-button-prev{
        margin-left: 10px;
    }
    .img_overlay p{
        font-size: 1.5rem;
    }
    
    .img_overlay h2{
        font-size: 2.5rem;
        color: #2ecc71;
        letter-spacing: 5px;
    }
    
    .img_overlay h3{
        font-size: 1.5rem;
        letter-spacing: 5px;
    }
} 

@media(max-width: 600px){
    .btn{
        visibility: hidden;
    }
}

/* -------------------------------Slider------------------------------- */

/* -------------------------------About------------------------------- */


.section_container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 7rem 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    /* border: 1px solid black; */
}

.subtitle {
    letter-spacing: 2px;
    color: #525151;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.title {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.3;
    color: var(--Theme);
    margin-bottom: 1rem;
}

.title span {
    font-weight: 700;
}

.description {
    line-height: 1.6rem;
    color: #908484;
    margin-bottom: 2rem;
}

.action__btns {
    display: flex;
    gap: 1rem;
}

.action__btns button {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--Theme);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.hire__me {
    background-color: var(--Theme);
    color: #fff;
}

.portfolio {
    color: var(--Theme);
    background-color: transparent;
}

.action_btns button:hover {
    background-color: var(--Theme);
    color: #fff;
}

.portfolio:hover {
    background-color: var(--Theme);
    color: #fff;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    max-width: 70%;
    height: auto;
    border-radius: 50%;
}

@media only screen and (max-width: 768px) {
    .section_container {
        grid-template-columns: 1fr; /* Switching to a single column layout */
        padding: 2rem; /* Reducing padding for better spacing */
    }

    .image,
    .content {
        text-align: center; /* Center-aligning image and text on smaller screens */
    }

    .subtitle {
        font-size: 1.5rem; /* Decreasing font size for smaller screens */
    }

    .title {
        font-size: 2rem; /* Decreasing font size for smaller screens */
    }

    .description {
        font-size: 1rem; /* Decreasing font size for smaller screens */
    }

    .action_btns {
        flex-direction: column; /* Stacking buttons vertically on smaller screens */
        align-items: center; /* Center-aligning buttons on smaller screens */
        
    }
}


/* -------------------------------About------------------------------- */

/* -------------------------------Sevices------------------------------- */
.Sevices_Container{
    height: 100vh;
    width: 100%;
    padding: 0 8%;
    background: var(--Theme);
    box-shadow: 0 1px 25px 0 rgb(113, 113, 89); 
    border-radius: 2%;
}

.Sevices_Container h1{
    position: relative;
    color: var(--Brand);
    text-transform: uppercase;
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
}

.Sevices_Container h1::after{
    content: ' ';
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 100px;
    height: 3px ;
    background: rgb(103, 103, 103);
}

.Sevices_Container h2{
    color: rgb(212, 212, 212);
}

.Sevices_Container .row{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px , 1fr));
    gap: 30px;
    padding: 4rem 0;
    /* border: 1px solid var(--Brand); */
}

.Sevices_Container .row .Service{
padding: 25px 10px;
text-align: center;
border-radius: 5px;
transition: transform .5s;
cursor: pointer;
color: var(--White);
font-size: 14px;
}

.Sevices_Container .row .Service:hover{
    transform: scale(1.1);
    /* background: var(--Brand); */
    color: var(--White);
    border: 1px solid var(--Brand);
    box-shadow: 0 1px 25px 0 var(--Brand); 

}

.Sevices_Container .row .Service i{
    font-size: 40px;
    color: var(--Brand);
    margin-bottom: 10px;
}

.Sevices_Container .row .Service h2{
    margin-bottom: 8px;
}

@media (max-width: 768px) {
    .Sevices_Container {
        padding: 0 4%; /* Reduce padding on smaller screens */
        height: 147vh;
    }

    .Sevices_Container h1 {
        padding-top: 5%; /* Reduce the top padding */
        margin-bottom: 30px; /* Less space above the grid */
    }

    .Sevices_Container .row .Service {
        padding: 20px; /* Slightly reduce padding inside each service block */
    }

    .Sevices_Container .row .Service i {
        font-size: 35px; /* Slightly reduce the icon size for smaller screens */
    }
}


/* -------------------------------Sevices------------------------------- */

/* -------------------------------Gallery------------------------------- */
.Gallery_container{
    position: relative;
    min-height: 100vh;
}

.Gallery_container h1{
    position: relative;
    color: var(--Theme);
    text-transform: uppercase;
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
}

.Gallery_container h1::after{
    content: ' ';
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 100px;
    height: 3px ;
    background: rgb(103, 103, 103);
}

.Gallery_container .img_container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.Gallery_container .img_container .drwa_image{
    height: 250px ;
    width: 350px ;
    border: 6px solid var(--Theme);
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,.2) ;
    overflow: hidden;
    cursor: pointer;
}

.Gallery_container .img_container .drwa_image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;   
}

.Gallery_container .img_container .drwa_image:hover img{
    transform: scale(1.1);
}

.Gallery_container .Popup_Draw{
    position: fixed;
    top: 0 ; left: 0;
    background: rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.Gallery_container .Popup_Draw span{
    position: absolute;
    top: 0; right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.Gallery_container .Popup_Draw img{
    position: absolute;
    top: 50% ; left: 50%;
    transform: translate(-50% , -50%);
    border: 50px , solid #fff;
    border-radius: 5px;
    width: 450px;
    object-fit: cover;
}

.see_more_button {
    display: block;
    margin: 30px auto;
    padding: .8rem 1.5rem;
    background-color: var(--Theme);
    color: white;
    border: 1px solid var(--Theme);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
    letter-spacing: 1px;
    outline: none;
}

.see_more_button:hover{
    background-color: var(--White);
    color: var(--Theme);
}


@media (max-width: 768px) {
.Gallery_container{
    padding-top:30px ;
}

.Gallery_container .Popup_Draw img{
    width: 95%;
}
.Gallery_container h1 {
    padding-top: 5%; /* Reduce the top padding */
    margin-bottom: 30px; /* Less space above the grid */
}
.see_more_button {
    margin-top: 20px; /* Adjust margin for smaller screens */
}
}

/* -------------------------------/Gallery------------------------------- */

/* -------------------------------Break Section------------------------------- */

#responsive-bg-section {
    position: relative;
    width: 100%;
    height: 350px; /* Adjust the height as needed */
    background-image: url('./BreakSection.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center; /* Centers the content vertically and horizontally */
    border-radius: 2%;
    margin-top: 6rem;
}

.bg-color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(24, 1, 52, 0.5); /* Black background with 50% opacity */
    border-radius: 2%;
    transition: backdrop-filter 0.5s ease; /* Smooth transition for blur effect */
    backdrop-filter: blur(0); /* Initial blur is 0 */

}

.break_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 2;
    opacity: 0; 
    transition: opacity 0.5s ease; 
}

.book-now-btn {
    padding: 15px 20px;
    font-size: 20px;
    color: var(--Theme);
    background-color: var(--Brand);
    border: 1px solid var(--Theme);
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.book-now-btn:hover {
    background : none;
    color: white;
    border: 1px solid var(--Brand);
    font-weight: bolder;
    box-shadow: 0 1px 25px 0 rgb(252, 252, 6); 

}

#responsive-bg-section:hover .bg-color-overlay {
    backdrop-filter: blur(8px); /* Apply blur effect on hover */
}

#responsive-bg-section:hover .break_content {
    opacity: 1; /* Show content on hover */
}

@media (max-width: 940px) {
    #responsive-bg-section {
        display: none; /* Hide the section on small screens */
    }
}

/* -------------------------------Break Section------------------------------- */

/* ------------------------------------Blogs------------------------------------ */
.blog-section {
    width: 100%;
    box-sizing: border-box;
}

.blog-section h1{
    position: relative;
    font-size: 30px;
    color: var(--Theme);
    text-transform: uppercase;
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
}

.blog-section h1::after{
    content: ' ';
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 100px;
    height: 3px ;
    background: rgb(103, 103, 103);
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.blog-item {
    background: var(--Theme);
    width: 100%;
    max-width: 600px;
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: rgb(255, 193, 193);
    position: relative;
    overflow: hidden;
}

.blog-date {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--Theme);
    color: var(--Brand);
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 30px;
    opacity: .8;
    /* border: 1px solid black; */

}

.blog-date p, .blog-date span {
    margin: 0;
}

.blog-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: transform 0.3s ease;   
}

.blog-image:hover {
    transform: rotate(4deg); /* Rotate the image slightly clockwise on hover */
}

.blog-content {
    padding: 25px;
}

.blog-content h3{
    font-size: 30px;
    color: var(--Brand);
    padding-bottom: 1rem;
}

.blog-content p{
    font-size: 15px;
    font-weight: 300;
}


.see-more-btn {
    text-decoration: none;
    background: var(--Theme);
    border: 1px solid rgb(255, 193, 193);
    ;
    color: var(--White);
    padding: .5rem 1rem;
    display: inline-block;
    margin-top: 2rem;
    border-radius: 4px;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.see-more-btn:hover {
    background: var(--Brand);
    color: var(--Theme);
    font-weight: bold;
    border: none;
}

.see-more-btn:hover i {
    color: var(--Theme); /* Change icon color on hover */
}

.see-more-btn:hover .button-text {
    transform: translateX(10px);
}

.button-text {
    transition: transform 0.3s ease-in-out; /* Apply transition to button text */
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    .blog-container {
        flex-direction: column;
        align-items: center;
    }
}


/* -----------------------------------/Blogs----------------------------------- */


/* -----------------------------------/Reviews----------------------------------- */

.review-section {
    padding: 20px 50px;
}

.review-section h1{
    position: relative;
    font-size: 30px;
    color: var(--Theme);
    text-transform: uppercase;
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
}

.review-section h1::after{
    content: ' ';
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 100px;
    height: 3px ;
    background: rgb(103, 103, 103);
}

.review-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
    gap: 25px; /* Gap between grid items */
}

.review-item { 
    border: 1px solid var(--Theme);
    padding: 15px;
    border-radius: 10px;
}

.review-item:hover { 
    box-shadow: 0 0 10px rgba(1, 7, 43, 0.9); 
    transition: all 0.3s ease; 
}

.user-info {
    flex-grow: 1; /* Expand to fill available space */
    padding: 1rem 0.6rem;
}

.user-name {
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(88, 86, 86);
}

.user-comment {
    color: var(--Theme);
}

.comment-box {
    width: 50%; 
    margin: 20px auto; 
    padding: 20px;
    background-color: var(--Theme); 
    border-radius: 10px;
    transition: all 0.3s ease; 
    color: var(--Brand);

}

.comment-box:hover{
    box-shadow: 0 0 10px rgba(88, 3, 233, 1); 
}

.comment-box h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    text-align: center;
}

#comment-text {
    width: 100%;
    resize: vertical; /* Allow vertical resizing */
    background-color: #fff; /* White background for text area */
    color: #000; /* Black text color */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 5px;
    padding: 8px;
    transition: all 0.3s ease; /* Add transition */
}

#comment-text:hover,
#comment-text:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(195, 255, 0, 0.5); 
}

#comment-text::placeholder {
    color: #aaa; 
    font-style: italic;
}

#comment-text:focus::placeholder {
    color: #666; /* Placeholder color on focus */
}

#comment-text:focus {
    background-color: #f0f0f0; /* Change background color on focus */
}


#comment-form {
    display: flex;
    flex-direction: column;
}

#comment-form button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: var(--Brand); 
    color: var(--Theme);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    font-weight: 700;
    transition: background-color 0.3s ease;
}

#comment-form button:hover {
    background: none;
    border: 1px solid var(--White);
    color: var(--Brand);
    font-size: larger;
    font-weight: bolder;
    box-shadow: 0 0 5px rgba(255, 251, 0, 0.8); 

}


/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .review-grid {
        grid-template-columns: 1fr; /* Single column layout on smaller screens */
    }
}

/* -----------------------------------/Reviews----------------------------------- */

/* -----------------------------------/Links----------------------------------- */


.social_links{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
}

.Social_Section h1{
    position: relative;
    font-size: 30px;
    color: var(--Theme);
    text-transform: uppercase;
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
}

.Social_Section h1::after{
    content: ' ';
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 100px;
    height: 3px ;
    background: rgb(103, 103, 103);
}

.s_icon{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: var(--White);
    margin: 20px;
    text-align: center;
    font-size: 50px;
    line-height: 100px;
    font-family: sans-serif;
    overflow: hidden;
    box-shadow: 5px 10px 20px rgba(150, 150, 150, .3);
    transition: all .3s ease-out;
}

.s_icon:hover{
    width: 400px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--White);
}

.s_icon:hover i{
    color: var(--White);
}

.s_icon .fa-facebook-f{
    color: #023b59;
}

.fb:hover{
    background: #1A6ED8;
}

.s_icon .fa-instagram{
    color: red;
}

.ig:hover{
    background: red;
}

.s_icon .fa-linkedin-in{
    color: var(--Theme);
}

.lnk:hover{
    background: #1A6ED8;
}

.s_icon .fa-github{
    color: black;
}

.git:hover{
    background: black;
}

/* -----------------------------------/Links----------------------------------- */

/* -----------------------------------FAQ's----------------------------------- */

.faq-container {
    margin: 0 auto;
    padding: 4rem;
    width: 48rem;
    background: var(--Theme);
    box-shadow: 0 1px 25px 0 rgb(113, 113, 89); 
    border-radius: 2%;
}

.faq-container h1 {
    color: var(--Brand);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
    position: relative;
}

.faq-container h1::after {
    content: ' ';
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 100px;
    height: 3px ;
    background: rgb(103, 103, 103);
}

.accordion-item {
    border-bottom: 1px solid #e5e5e5;
}

.accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid #03b5da;
}

.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
} 

.accordion button:hover,
.accordion button:focus {
    cursor: pointer;
    color: #03b5d2;
}

.accordion button:hover::after,
.accordion button:focus::after {
    cursor: pointer;
    color: #03b5d2;
    border: 1px solid #03b5d2;
}

.accordion button .accordion-title {
    padding: 1rem 1.5rem 1rem 0;
}

.accordion button .faq_icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
}

.accordion button .faq_icon::before {
    display: block;
    position: absolute;
    content: ' ';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}

.accordion button .faq_icon::after {
    display: block;
    position: absolute;
    content: ' ';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}

.accordion button[aria-expanded="true"] {
    color: #03b5d2;
}

.accordion button[aria-expanded="true"] .faq_icon::after {
    width: 0;
}

.accordion button[aria-expanded="true"] + .accordion_content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity , max-height;
}

.accordion .accordion_content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear , max-height 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion_content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
    color: var(--Brand);
}

@media only screen and (max-width: 768px) {
    .faq-container {
        width: 90%;
        padding: 2rem;
    }
}

@media only screen and (max-width: 480px) {
    .faq-container h1 {
        padding-top: 10%;
    }
}

/* -----------------------------------/FAQ's----------------------------------- */

/* -----------------------------------Map Section----------------------------------- */

.map_container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

iframe{
    width: 100%;
    height: 500px;
    filter: invert(100%);
}

/* -----------------------------------/Map Section----------------------------------- */

/* -----------------------------------Footer----------------------------------- */

footer{
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    background-color: var(--Theme);
    padding: 60px 10%;
}

footer ul{
    list-style: none;
}

.footer-col{
    width: 25%;
}

.footer-col h4{
    position: relative;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 22px;
    color: var(--Brand);
    text-transform: capitalize;
}

.footer-col h4::before{
    content: ' ';
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color:#27c0ac ;
    height: 2px;
    width: 40px;
}

footer ul li:not(:last-child){
    margin-bottom: 8px;
}

footer ul li a{
    display: block;
    font-size: 19px;
    text-transform: capitalize;
    color: #bdb6b6;
    text-decoration: none;
    transition: 0.4s;
}

footer ul li a:hover{
    color: white;
    padding-left: 2px;
}

.footer_links a{
    display: inline-block;
    height: 44px;
    width: 44px;
    color: white;
    background-color: rgba(40, 130, 214, 0.8);
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: 0.4s;
}

.footer_links a:hover{
    color: #4d4f55;
    background-color: white;
}

@media(max-width:740px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer-col h4::before{
        all: unset;
    }
}

@media(max-width:555px){
    .footer-col{
        width: 100%;
    }
}
/* -----------------------------------/Footer----------------------------------- */





